# Môi trường ảo của Python và Poetry
.venv
.env
__pycache__/
*.pyc

# Môi trường hệ điều hành
.DS_Store
Thumbs.db


.env*
!/.env.example

# Thư mục build của Frontend (Node.js)
/web/node_modules
/web/build
/web/.pnp
/web/.pnp.js
/web/.yarn

# IDE files
.idea/
.vscode/
*.swp

llm_request.log
sample_data.json